.boxNav {
    background-color: black;
}

.linkNav {
    text-decoration: none;
    margin: 20px;
    color: white;
}

.boxLink {
    margin-right: 100px;
}

.linkMobile {
    text-decoration: none;
    color: black;
    display: flex;
    margin: 15px;

}

.logoimg {
    margin-top: 15px;
}

.subNav {
    display: flex;
    width: 100%;
    align-items: flex-end;
    color: white;
    justify-content: center;
    padding-bottom: 10px;
}