li {
    list-style:none;
    margin: 20px;
}

a {
    text-decoration:none;
    color: white;
}

a:hover {
    color: aqua;
}

ul {
    display: flex;
} 

.nav {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 50px;
    margin-left: 20px;
}

.login {
   background-color: white;
   color: gray;
   border-radius: 50px;
   padding: 20px;
}


